/* Title */
.lt-service-title,
.lt-service-item {
    margin: 20px 0;
}
.lt-service-item {
    padding: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}
.lt-service-item h6 {
    font-size: 18px;
    font-style: italic;
    color: #5a5a5a;
}
.lt-service-item p {
    margin-bottom: 0;
}
.lt-service-item:hover i,
.lt-service-item:hover h6,
.lt-service-item:hover h5,
.lt-service-item:hover p {
    color: #fff!important;
}
#sp-main-body {
    padding: 0!important;
}
.qx-section{
  /*background: url("https://pageBancrecer.mybluemix.net/img/header-title.png") no-repeat top center;*/
  padding-top:15px !important;
}
.et-title h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.et-title h6 {
    color: #6D6E70;
    padding: 6px 10px 6px;
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 25px;
}
.et-title p {
    margin: 0;
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 500;
}
/* Transition */
h1, h2, h3, h4, h5, h6, i, i:before, i:after  {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
/* Slider */
.et-slider {
    position: relative;
}
.et-slider .tp-caption a {
    padding: 12px 35px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.et-slider .button:hover {
    background: #222;
}
.et-bounce {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    color: #fff;
    font-size: 24px;
}
.qx-botoneras{
 padding-top: 0px !important; 
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* Intro */
.et-intro-item {
    cursor: pointer;
}
.et-intro-item i {
    width: 80px;
    height: 80px;
    border-radius: 35%;
    border: 2px solid #F1F1F1;
    line-height: 82px;
    transition: all .25s linear;
    margin: 0 auto;
    position: relative;
}
.et-intro-item:hover i {
    color: #fff!important;
}
.et-intro-item h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    margin-top: 26px;
    text-transform: uppercase;
    font-weight: 700;
}
.et-intro-item i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 35%;
    color: #fff;
    transform: scale(1);
}
.et-intro-item:hover i:after {
    border-radius: 50%;
    transform: scale(0.8);
    border: 2px solid #fff;
}
/* About */
.et-about .et-title {
    background: rgba(0,0,0, .5);
    height: 100%;
}
.et-about-item-border1,
.et-about-item-border2 {
    border-bottom: 1px solid #424245;
}
.et-about-item-border1,
.et-about-item-border3 {
    border-right: 1px solid #424245;
}
.et-about-item {
    position: relative; 
}
.et-about-item i {
    opacity: .3;
}
.et-about-item p {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 42%;
}
.et-about-item .qx-nc-title {
    top: 60%;
}
/* Feature */
.et-feature-item {
    cursor: pointer;
}
.et-feature-item h4 {
    font-weight: 700;
}
.et-feature-item i {
    width: 40px;
    height: 40px;
    border-radius: 35%;
    border: 2px solid #F1F1F1;
    text-align: center;
    line-height: 37px;
}
.et-feature-item:hover i {
    color: #fff;
}
/* Services */
.et-services-item {
    display: inline-block;
    margin: 50px 30px 20px 0;
    cursor: pointer;
}
.et-services-content h2 {
    margin-bottom: 40px;
}
/* Portfolio */
.et-portfolio-button:hover {
    color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
    margin: 5px;
}
.project-img img {
    width: 100%;
}
.projects-filter {
    text-align: center;
    display: inline-block;
}
.projects-filter ul {
    display: inherit;
    line-height: 43px;
    margin: 0 auto;
}
.projects-filter ul li {
    line-height: 40px;
    margin: 5px 0;
    display: static!important;
    float: left;
}
.projects-filter a {
    padding: 8px 15px;
    border: 1px solid #fff;
}
.item-page .project-img {
    border: 5px solid #fff;
}
.pp-button {
    color: #fff;
    padding: 12px 40px;
    font-weight: 700;
}
.pp-button:hover {
    color: #fff;
    background: #666;
}
.projects-filter a {
    width: 200px;
    display: inline-block;
    padding: 0;
    border-radius: 20px;
}
/* Team */
.et-team-item {
    position: relative;
    margin: 0 5px; 
}
.et-team-item img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.et-team-item:hover img{
    transform: rotate(5deg)scale(1.1);
}
.et-team-item .qx-person-img {
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.et-team-item .qx-person-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    transition: all .3s linear;
    z-index: 2;
}
.et-team-item:hover .qx-person-img:before {
    opacity: .7;
}
.et-team-item .qx-person-position {
    position: absolute;
    z-index: 9999;
    bottom: 40%;
    left: -85px;
    transform: rotate(-90deg);
    font-size: 22px;
    transition: all .3s linear;
    color: #1F1F1F;
    text-transform: uppercase;
    font-weight: 700;
}
.et-team-item h4 {
    background: #fff;
    padding: 15px 5px;
}
.et-team-item .social-links {
    position: absolute;
    z-index: 3;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
.et-team-item:hover .social-links {
    bottom: 80px;
    opacity: 1;
}
.et-team-item .social-links a {
    width: 27px;
    height: 27px;
    display: block;
    background: #fff;
    transform: rotate(45deg);
    color: #007dac;
    text-align: center;
    line-height: 24px;
    margin: 0 6px;
    border-radius: 3px;
    display: inline-block;
}
.et-team-item .social-links a:before {
    font-size: 12px;
}
/* Action */
.et-action-title  h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}
.et-action-title  h5 {
    font-weight: 300;
}
.et-action-button {
    background: none;
}
/* Pricing */
.et-table-item {
    transition: all .20s ease 0s;
    border: 2px solid rgba(1, 125, 172, .05);
    border-radius: 2px;
    height: 350px;
}
.et-table-item:hover {
    background: #fff;
    border-width: 2px;
    box-shadow: 5px 5px 0 0 rgba(1,126,172, .1);
    transform: translate(-1%, -1%) scale(1);
}
.et-table-item:hover button {
    border-radius: 2px;
    color: #fff;
    position: relative;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 12px;
    transition: all .20s linear;
}
.et-table-item:hover button a {
    color: #fff;
}
.et-table-item h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
}
.et-table-item p {
    text-align: left;
}
.et-table-item .table-price {
    padding-top: 15px;
    padding-bottom: 25px;
}
.et-table-item .table-price .curriency {
    vertical-align: super;
    font-size: 24px;
    top: -25px;
    position: relative;
    margin-right: 8px;
    color: #888888;
}
.et-table-item .table-price .price {
    font-size: 60px;
    font-weight: 700;
}
.et-table-item .table-price .month {
    vertical-align: bottom;
    font-size: 12px;
    position: relative;
    bottom: 10px;
    color: #888888;
}
.et-table-item ul.table-items li {
    display: block;
    margin-bottom: 8px;
    color: #1F1F1F;
    font-family: 'Signika-Bold';
}
.et-table-item ul.table-items li:hover {
    background: #fff;
}
.et-table-item ul.table-items li i {
    margin-right: 8px;
}
.et-table-item ul.table-items li strong {
    display: none;
}
.et-table-item button {
    background: none;
    border: 1px solid;
    border-radius: 2px;
    color: #cfaa45;
    position: relative;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 12px;
    transition: all .20s linear;
    float: right;
}
.et-table-item button:hover {
    background: #fff!important;
}
/* Testimonial */
.et-testimonial h4 {
    margin-bottom: 5px!important;
    margin-top: 20px;
}
/* Blog */
.entry-header h2 a {
    font-size: 30px;
    font-weight: 400;
}
div.sp-module .sp-module-title {
    font-size: 20px;
    font-weight: 400;
}
.sp-page-title {
    /* margin-bottom: 50px; */
}
.et-blog div.k2ItemsBlock ul li {
    width: 32%;
    float: left;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}
.et-blog div.k2ItemsBlock ul li:nth-child(3n) {
    margin-right: 0;
}
.et-blog div.k2ItemsBlock ul li a {
    display: inherit;
    overflow: hidden;
}
.et-blog div.k2ItemsBlock ul li img {
    width: 100%;
    margin-bottom: 15px!important;
    transition: all .40s linear;
    transform: scale(1.1);
}
.et-blog div.k2ItemsBlock ul li:hover img {
    transform: rotate(4deg)scale(1.2);
}
.et-blog ul li .moduleItemDateCreated {
    position: absolute;
    left: 0;
    top: 30px;
    width: 110px;
    display: block;
    text-align: center;
    background: rgba(0,0,0, .4);
    padding: 5px;
    font-size: 12px;
    color: #fff;
}
.et-blog .et-portfolio-button {
    margin-top: 0!important;
}
.et-blog > div > p {
    clear: left;
}
/* Subscribe */
.et-subscribe-title h4 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
}
.et-subscribe-title h5 {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
}
.et-subscribe-content table {
    margin: inherit;
}
.et-subscribe-content table input {
    background: none!important;
    border-radius: 0!important;
    padding: 20px 70px!important;
}
.et-subscribe-content table .button {
    padding: 10px 30px!important;
    border-color: #fff;
}
.et-subscribe-content table tr {
    display: inline;
}
/* Contact */
.et-contact #sp-quickcontact-form input,
.et-contact #sp-quickcontact-form textarea {
    border-radius: 0!important;
    width: 100%;
    margin: 20px 0;
}
.et-contact #sp-quickcontact-form .sp_qc_clr {
    display: none;
}
.et-contact #sp-quickcontact-form input:nth-child(2) {
    width: 49%;
    margin-right: 2%;
    float: left;
}
.et-contact #sp-quickcontact-form input:nth-child(4) {
    width: 49%;
    float: left;
}
.et-contact #sp-quickcontact-form .button {
    background: none;
    width: 150px;
    height: 50px;
    color: #000;
    margin: 40px auto 0px;
    display: block;
    text-align: center;
    line-height: 44px;
    border-radius: 2px;
    border: 2px solid #F1F1F1;
    transition: all .25s linear;
    font-weight: 400;
}
.et-contact #sp-quickcontact-form .button:hover {
    color: #fff!important;
}
.et-contact-form label {
    color: #333;
}
.et-contact-form input {
    border-radius: 0!important;
    height: 25px!important;
    width: 100%;
}
.et-contact-form textarea {
    height: 100px!important;
    border-radius: 0!important;
    width: 100%;
}
.et-contact-form button {
    background: none;
    width: 150px;
    height: 35px;
    color: #333;
    display: block;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #333!important;
    transition: all .25s linear;
    font-weight: 400;
}
.et-contact-form button:hover {
    color: #fff!important;
}
/** RESPONSIVE **/
/* Screen min 1199px */
@media (min-width: 1200px) {
    .et-services-right,
    .et-about .et-title {
        padding-left: 60px;
        padding-right: 60px;
    }
}
/* Screen min 1199px */
@media (max-width: 1199px) {
    .et-services-right,
    .et-about .et-title {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Screen min 980px and max 1199px */
@media (min-width: 1200px) and (max-width: 1550px) {
    .et-services-right, .et-about .et-title {
        padding: 30px;
    }
    .et-services-content h2 {
        margin-bottom: 10px;
    }
}
/* Screen min 980px and max 1199px */
@media (min-width: 980px) and (max-width: 1199px) {
    .et-about .et-title {
        padding-top: 40px;
        padding-bottom: 0!important;
    }
    .et-services > div {
        width: 100%!important;
    }
  .et-services-item {
    margin: 50px 11px 12px 0!important;
   }
}
/* Screen min 979px and max 781px */
@media (min-width: 768px) and (max-width: 979px) {
    
}
/* Screen max 767px */
@media (max-width: 767px) {
    .et-subscribe > div:first-child {
        padding-bottom: 0!important;
    }
    .et-action-title,
    .et-subscribe > div > div {
        text-align: left;
    }
    .et-blog div.k2ItemsBlock ul li {
        width: 100%;
        margin-right: 0;
    }
    .et-subscribe-content table input {
        padding: 20px 200px!important;
    }   
    .et-subscribe-title {
       text-align:center!important;
    }
    .et-contact-form button {
        background:#333!important;
    }
}
/* Screen max 684px */
@media (max-width: 684px) {
  .et-subscribe-content table input {
    padding: 20px 185px!important;
 }
}
/* Screen max 667px */
@media (max-width: 667px) {
  .et-subscribe-content table input {
    padding: 20px 178px!important;
 }
}
/* Screen max 480px */
@media (max-width: 480px) {
.et-subscribe-content table input {
    padding: 20px 33px!important;
  } 
 .et-subscribe-title {
    text-align:center!important;
  }
}

body.com-users #sp-component {
    padding: 30px 70px 70px 70px;
}